# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*~
\#*\#

.ido.last
.python-environments/
.recentf
.savehist
ac-comphist.dat
desktop/
dict/default/
el-get/
elpa/
eshell/history
eshell/lastdir
savehist
workgroups