# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*~
\#*\#

.ido.last
.python-environments/
.recentf
recentf
.savehist
ac-comphist.dat
desktop/
doc/
codebold/codebold-local.el
dict/default/
el-get/
elpa/
erc-extras/
eshell/history
eshell/lastdir
savehist
tramp
workgroups